.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #6b46c1, #805ad5);
    padding: 1rem 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-logo {
    /* display: flex; */
    /* align-items: center; */

    width: 100px;
    height: 60px;

    background-image: url("src/assets/Logo/devLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .logo{
    margin: 0;
    padding: 0;
    border: 0;
  }
  /* .footer-logo img {
    max-height: 100px;
    width: auto;
  }
   */
  .footer-text {
    color: #ffffff;
    font-size: 0.9rem;
    text-align: right;
  }
  
  .developer-name {
    font-weight: bold;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  
    .footer-text {
      text-align: center;
    }
  }